/*
	Таблица каскадных стилей для моего персонального сайта
*/
/*----------------------------------------------------------------------------*/
/*-- Элементы определяющие разметку страницы                                --*/
body 
{
	margin: 0; padding: 0;
	background: #fdfdfd;
	color: #333;
	font: 14px/1.5 arial, sans-serif;
}
blockquote
{
	text-align:	right;
	margin: 0 auto;
}
.main
{
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 13px 0 0 0;
}
.header
{
	position: relative;
	width: 960px;
	height: 160px;
	background: #f1f1d1;/*c1c131;*/
	border-bottom: 1px solid gray;
/*	border: 1px solid green;*/
}
.logo
{
	float: left;
	position: relative;
	width: 210px;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 0px 0px;	
/*	border:1px solid red;*/
}
.title
{
	float: left;
	position: relative;
	width: 510px;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 0px 0px;	
/*	border:1px solid red;*/
}
.auto
{
	float: right;
	position: relative;
	width: 220px;
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 0px 0px;
	background: #f1d1f1;	
	text-align: right;
/*	border:1px solid red;*/
}
.h_menu
{
	float: left;
	position: relative;
	width: 950px;
/*	border: 1px solid green;*/
}
.page
{
	float: left;
	position: relative;
	width: 960px;
	height: auto;
	background: #ffffff;
}
.menu
{
	float: left;
	position: relative;
	width: 210px;
	height: auto;
	background: #ffffff;
}
.content
{
	float: left;
	position: relative;
	padding: 0px 0px 0px 10px;
	margin: 5px 3px 3px 0px;	
	width: 730px;
	height: auto;
	background: #ffffff;
	border-left: 1px solid gray;
}
.footer
{
	float: left;
	position: relative;
	width: 960px;
	margin: 10px 0 10px 0;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid gray;
	background: #ffffff;
}
/*----------------------------------------------------------------------------*/
/*-- Дополнительные функциональные Элементы                                 --*/
/*-- Заголовки                                                              --*/
h1
{
	margin: 0 auto;
}
/*-- Блок Авторизации/регистрации пользователя                              --*/
.register 
{
	float: left;
	position: relative;
	width: 220px;
	font: 12px/1.0 arial, sans-serif;
	
}
.input
{
	font: 12px/1.0 arial, sans-serif;
}
